<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welkom!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="icon" href="images/logo-placeholder.png">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

</head>
<body>
    <div class="container-fluid">
        <div class="row min-vh-100">
            <div class="col-8">
                <div class="d-flex flex-column h-100">
                    <div class="row">
                        <img class="logo" src="images/logo-placeholder.png" alt="website-logo" />
                    </div>
                    <div class="row align-items-center justify-content-center flex-grow-1">
                        <div class="col">
                            <div class="col-12 text-center">
                                <h1>Inloggen op uw account</h1>
                                <p>
                                    Welkom terug! Login om verder te gaan
                                </p>
                            </div>
                            <div class="col-6 offset-3">
                                <form>
                                    <div class="mb-3">
                                        <label for="exampleInputEmail1" class="form-label">Email address</label>
                                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp">
                                    </div>
                                    <div class="mb-3">
                                        <label for="exampleInputPassword1" class="form-label">Password</label>
                                        <input type="password" class="form-control" id="exampleInputPassword1">
                                    </div>

                                    <button type="submit" class="btn btn-primary btn-primary-color">Inloggen</button>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-4 bg-secondary-color text-white">
                <div class="d-flex flex-column h-100">
                    <div class="row align-items-center justify-content-center flex-grow-1">
                        <div class="col-12 text-center ">
                            <h1>DutchonBoard ontdekken</h1>
                            <p>
                                <i>
                                    Wilt u graag mee doen aan een bordspellenavond of er eentje organiseren? Registreer een account om vandaag nog te beginnen!
                                </i>
                            </p>
                            <div class="row align-items-end">
                                <div class="col">
                                    <div class="d-flex justify-content-center">
                                        <button type="submit" class="btn btn-primary btn-primary-color mt-3">Registreren</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
</body>
</html>