@{
    Layout = "_LayoutNoNav";
    ViewData["Title"] = "Welkom bij DUTCHONBOARD!";
    
}
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-8">
            <div class="d-flex flex-column h-100">
                <div class="row">
                    <img class="logo" src="~/images/placeholder-logo.png" alt="website-logo" />
                </div>
                <div class="row align-items-center justify-content-center flex-grow-1">
                    <div class="col">
                        <div class="col-12 text-center">
                            <h1>Inloggen op uw account</h1>
                            <p>
                                Welkom terug! Login om verder te gaan
                            </p>
                        </div>
                        <div class="col-6 offset-3">
                            <form asp-action="Login" method="post">
                                <div class="mb-3">
                                    <label class="form-label">Email address</label>
                                    <input type="email" class="form-control" name="email" aria-describedby="emailHelp" required>
                                </div>
                                <div class="mb-3">
                                    <label class="form-label">Password</label>
                                    <input type="password" class="form-control" name="password" required>
                                </div>

                                <button type="submit" class="btn btn-primary btn-primary-color">Inloggen</button>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-4 bg-secondary-color white-text">
            <div class="d-flex flex-column h-100">
                <div class="row align-items-center justify-content-center flex-grow-1">
                    <div class="col-12 text-center ">
                        <h2>DutchonBoard ontdekken</h2>
                        <p>
                            Wilt u graag mee doen aan een bordspellenavond of er eentje organiseren? Registreer een account om vandaag nog te beginnen!
                        </p>
                        <div class="row align-items-end">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-primary-color mt-3">Registreren</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
