@{
    ViewData["Title"] = "DUTCHONBOARD Home";
}
<div class="row d-flex w-100">
    <div class="col-6 m-3 d-inline">
        <h2>Welkom bij de DUTCHONBOARD webapplicatie.</h2>
        <p>Een samenwerking met buurtvereniging 't Koekje.</p>

        <h3 class="my-2">Initiatief</h3>
        <p class="my-2">Om iedereen van de buurtvereniging sneller in contact te brengen met elkaar naar aanleiding van het bordspellenavonden initiatief, heeft DUTCHONBOARD B.V samen met buurtvereniging 't Koekje deze webapplicatie ontwikkelt om het proces van bordspelavonden organiseren leuker en gemakkelijker te maken</p>
        <p class="my-2"><b>Organiseren</b></p>
        <p class="my-2">De applicatie is zo simpel mogelijk gemaakt zodat u zonder gedoe en in korte tijd alles kunt regelen. Bent u ook organisator? U kunt dan een bordspellenavond aanmaken en uw favoriete spellen toevoegen. Geef een locatie en tijdstip en nog wat aanvullende informatie en u bent zo gereed!</p>
        <p class="my-2"><b>Deelnemen</b></p>
        <p class="my-2">Als speler kunt u makkelijk deelnememen aan avonden. Als de organisator potluck heeft ingesteld, dient u nog minimaal één consumptie op te geven die u meeneemt. Begin uw reis door de applicatie boven in de navigatiebalk of klik op de onderstaande knop!</p>
        <a class="btn btn-primary btn-primary-color" asp-controller="GameNight" asp-action="AllGameNights">Bekijk bordspellenavonden</a>
    </div>
    <div class="col-6 d-inline">
        <img src="/images/placeholder-logo.png" />
    </div>
</div>