@{
    ViewData["Title"] = "Organiseren bordspellenavond";
}
@model GameNightViewModel;

<div class="px-5 pb-3">
    <h3 class="py-3">Een bordspellenavond aanmaken</h3>
    <div>
        <form asp-action="CreateGameNight" method="post" class="m-2 " id="gn-form">
            <partial name="_GameNightFormFields" model="Model"/>
            <button type="submit" class="btn btn-primary btn-primary-color mt-3">Aanmaken</button>
        </form>
    </div>
</div>