@{
    ViewData["Title"] = "Bordspellenavonden";
}

@model ICollection<GameNight>;
<div class="container-fluid">
    <div class="row m-4">
        <h3 class="ps-5 pb-3">@ViewData["Header"]</h3>
        <partial name="_GameNightCard" model="Model" />
    </div>
</div>