@model GameNight;
<div class="container-fluid">
    <div class="row min-vh-100">
        <div class="col-8 p-4">
            <div class="row">
                <div class="col align-items-center">
                    <h2 class="d-inline m-0">@Model.Title</h2>
                    <img class="mb-3" src="~/images/adults-warning-sign.png" width="35px" />
                </div>
                <hr />
            </div>
            <div class="row">
                <div class="col-12">
                    <h4>Details</h4>
                    <ul>
                        <li class="pb-3"><img class="list-img" src="~/images/calender-icon.svg" class="me-4" />HenkText</li>
                        <li class="pb-3"><img class="list-img" src="~/images/location-icon.svg" class="pe-2" />HenkText</li>
                        <li class="pb-3"><img class="list-img" src="~/images/people-icon.svg" class="pe-2" />HenkText</li>
                        <li class="pb-3"><img class="list-img" src="~/images/dinner-icon.svg" class="pe-2" />HenkText</li>
                    </ul>
                </div>
                <div class="col-12 mt-3">
                    <h4>Beschrijving</h4>
                    <p>
                        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nam ac dolor semper, mattis ex nec, mattis ligula. Vivamus elit mauris, finibus nec imperdiet quis, suscipit a justo. Proin non arcu id eros venenatis egestas ac ac elit. Suspendisse mollis pretium varius. Curabitur ullamcorper quam et massa sodales tempus. Nullam sit amet rutrum elit. Sed id enim eget diam sodales aliquet eu rutrum arcu.

                        Donec vehicula orci id dictum bibendum. Ut erat velit, consequat ac vulputate dictum, mollis vel orci. Integer et gravida urna. Vivamus eu felis scelerisque, sodales ligula vitae, volutpat urna. Phasellus imperdiet eros vel ipsum viverra ornare. Nunc in dictum arcu. Cras vehicula felis at est efficitur porttitor. Suspendisse sit amet sapien non turpis commodo rutrum. Curabitur magna elit, bibendum non volutpat vel, laoreet vel nisl. Quisque scelerisque risus eu magna molestie ullamcorper. Donec neque enim, tristique quis tincidunt ultricies, faucibus sit amet ligula. Sed sit amet neque.
                    </p>
                </div>
            </div>
        </div>
        <div class="col-4 bg-secondary-color white-text">
            <div class="d-flex flex-column h-100">
                <div class="row align-items-center justify-content-center flex-grow-1">
                    <div class="col-12 text-center ">
                        <h4>
                            Ja, ik wil erbij zijn!
                        </h4>
                        <div class="row align-items-end">
                            <div class="col">
                                <div class="d-flex justify-content-center">
                                    <button type="submit" class="btn btn-primary btn-primary-color ">Aanmelden</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
