@{
    ViewData["Title"] = "Organiseren bordspellenavond";
}
@model NewGameNightViewModel;

<div class="px-5 pb-3">
    <h3 class="py-3">Een bordspellenavond aanmaken</h3>
    <div>
        <form asp-action="NewGameNight" method="post" class="m-2" id="ngn-form">
            <div asp-validation-summary="All"></div>
            <div class="row py-2">
                <div class="col">
                    <label asp-for="Title" class="form-label">Titel</label>
                    <input asp-for="Title" class="form-control py-2" />
                </div>
                <div class="col">
                    <label class="form-label" asp-for="IsAdultsOnly">Avond is 18+</label>
                    <select class="form-select" asp-for="IsAdultsOnly">
                        <option value="">Kies een optie</option>
                        <option value="true">Ja, 18+</option>
                        <option value="false">Nee, 16+ toegestaan</option>
                    </select>
                </div>
            </div>
            <div class="row py-2">
                <div class="col">
                    <label asp-for="DateAndTime" class="form-label">Datum en tijdstip</label>
                    <input type ="datetime-local" asp-for="DateAndTime" class="form-control py-2" />
                </div>
                <div class="col">
                    <label asp-for="MaxPlayerAmount" class="form-label">Max. aantal spelers (inclusief uzelf)</label>
                    <input asp-for="MaxPlayerAmount" class="form-control py-2" />
                </div>
            </div>
            <div class="py-2">
                <label asp-for="Description" class="form-label">Beschrijving</label>
                <textarea form="ngn-form" asp-for="Description" class="form-control" placeholder="Algemene beschrijving van de avond"></textarea>
            </div>
            <div class="row py-2">
                <div class="col">
                    <label asp-for="Street" class="form-label">Straat</label>
                    <input asp-for="Street" class="form-control py-2" />
                </div>
                <div class="col">
                    <label asp-for="HouseNumber" class="form-label">Huisnummer</label>
                    <input asp-for="HouseNumber" class="form-control py-2" />
                </div>
                <div class="col">
                    <label asp-for="City" class="form-label">Stad</label>
                    <input asp-for="City" class="form-control py-2" />
                </div>
            </div>
            <button type="submit" class="btn btn-primary btn-primary-color mt-3">Aanmaken</button>
        </form>
    </div>
</div>