@model string
<div class="text-center">
    <h2>Toevoegen consumptie succesvol</h2>
    <div >
        <a href ="@Model" class="btn btn-primary btn-primary-color justify-content-center">Voeg nog een consumptie toe</a>
        <a asp-action="GameNightsWhereUserParticipates" class="btn btn-primary btn-primary-color justify-content-center">Bekijk inschrijvingen</a>
    </div>
</div>