@model GameNightViewModel
<div class="row py-2">
    <div class="col">
        <label asp-for="Title" class="form-label">Titel</label><span class="ps-3 d-inline text-danger" asp-validation-for="Title"></span>
        <input asp-for="Title" class="form-control py-2" />
    </div>
    <div class="col">
        <label class="form-label" asp-for="IsAdultsOnly">Avond is 18+</label><span class="ps-3 d-inline text-danger" asp-validation-for="IsAdultsOnly"></span>
        <select class="form-select" asp-for="IsAdultsOnly">
            <option value="">Kies een optie</option>
            <option value="true">Ja, 18+</option>
            <option value="false">Nee, 16+ toegestaan</option>
        </select>
    </div>
</div>
<div class="row py-2">
    <div class="col">
        <label asp-for="DateAndTime" class="form-label">Datum en tijdstip</label><span class="ps-3 d-inline text-danger" asp-validation-for="DateAndTime"></span>
        <input type="datetime-local" asp-for="DateAndTime" class="form-control py-2" />
    </div>
    <div class="col">
        <label asp-for="MaxPlayerAmount" class="form-label">Max. aantal spelers (inclusief uzelf)</label><span class="ps-3 d-inline text-danger" asp-validation-for="MaxPlayerAmount"></span>
        <input asp-for="MaxPlayerAmount" class="form-control py-2" />
    </div>
</div>
<div class="py-2">
    <label asp-for="Description" class="form-label">Beschrijving</label><span class="ps-3 d-inline text-danger" asp-validation-for="Description"></span>
    <textarea form="gn-form" asp-for="Description" class="form-control" placeholder="Algemene beschrijving van de avond"></textarea>
</div>
<div class="row py-2">
    <div class="col">
        <label asp-for="Street" class="form-label">Straat</label><span class="ps-3 d-inline text-danger" asp-validation-for="Street"></span>
        <input asp-for="Street" class="form-control py-2" />
    </div>
    <div class="col">
        <label asp-for="HouseNumber" class="form-label">Huisnummer</label><span class="ps-3 d-inline text-danger" asp-validation-for="HouseNumber"></span>
        <input asp-for="HouseNumber" class="form-control py-2" />
    </div>
    <div class="col">
        <label asp-for="City" class="form-label">Stad</label><span class="ps-3 d-inline text-danger" asp-validation-for="City"></span>
        <input asp-for="City" class="form-control py-2" />
    </div>
</div>
<div class="row py-2">
    <div class="col">
        <label>Selecteer 1 of meer bordspellen</label>
        @Html.ListBoxFor(model => model.GamesDropdown.ChosenBoardGames, new MultiSelectList(Model.GamesDropdown.ChoosableBoardGames, "Id", "Name"), new { id = "multiSelectDropDown", multiple = "multiple" })
    </div>
</div>
<script>
    $(document).ready(function () {
        $("#multiSelectDropDown").chosen({
            width: "100%"
        });
    });

</script>

