<!DOCTYPE html>
<html lang="en">
<head>
    <title>Welkom!</title>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="description" content="" />

    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css" />
    <link rel="stylesheet" href="~/css/styles.css" asp-append-version="true" />
    <link rel="icon" href="~/images/logo-placeholder.png">
</head>
<body>
<nav class="navbar navbar-light navbar-expand-lg">
    <div class="container-fluid">
        <a class="navbar-brand" asp-controller="Home" asp-action="Index"><img class="site-icon" src="~/images/logo-placeholder.png"/></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                        <a class="nav-link" asp-controller="Home" asp-action="Index">Home</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                        Bordspellenavonden
                    </a>
                    <ul class="dropdown-menu">
                        <li><a class="dropdown-item" asp-controller="GameNight" asp-action="AllGameNights">Alle avonden</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="#">Henk text</a></li>
                    </ul>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">About</a>
                </li>
            </ul>
            <div class="nav-item dropdown ">
                    <a class="nav-link dropdown-toggle ps-0" role="button" data-bs-toggle="dropdown" aria-expanded="false"><img class="user-icon" src="~/images/user-icon.png" alt="profile-menu" /></a>
                <ul class="dropdown-menu dropdown-menu-lg-end ">
                    <li><a class="dropdown-item" href="#">Mijn gegevens</a></li>
                    <li><hr class="dropdown-divider"></li>
                    <li><a class="dropdown-item" href="#">Uitloggen</a></li>
                </ul>
            </div>
        </div>
    </div>
</nav>
<hr class="border border-primary border-primary-color border-3 opacity-100 mt-0 mb-0">
    @RenderBody()

    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @await RenderSectionAsync("Scripts", required: false)
</body>
</html>